{% extends '_base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
 
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <section class="contact">
            <h1 class="contact-title text-center">Contact Us</h1>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto">
          <form class="contact-form" method="POST" action="{% url 'main:contact' %}">
            {% csrf_token %}
            <!-- Message input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example3"
                >Message <span class="important">*</span></label
              >
              {{ form.message }}
            </div>
            <!-- Radio Input  -->
            <div class="form-outline mb-4">
              <label class="form-label" style="display: block"
                >Which best describes you?</label
              >
              <div class="form-check form-check-inline">
                {% for choice in form.choices %}
                {{ choice }}
                <label class="form-check-label" for="inlineRadio1" style="margin-right: 30px"
                  >{{ choice.label }}</label
                > 
                {% endfor %}

              </div>
            </div>
            <div class="row">
              <!-- Organization -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >Organization</label
                  >
                  {{ form.organization }}
                </div>
              </div>

              <!-- Title, Department, or Field of study -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >Title, Department, or Field of study</label
                  >
                  {{ form.department }}
                </div>
              </div>
              <!-- First name -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >First Name <span class="important">*</span></label
                  >
                  {{ form.first_name }}
                </div>
              </div>

              <!-- Last Name -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >Last Name <span class="important">*</span></label
                  >
                  {{ form.last_name }}
                </div>
              </div>
              <!-- Email input -->
              <div class="col-md-12 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example2"
                    >Email address <span class="important">*</span></label
                  >
                  {{ form.email }}
                </div>
              </div>
              <!-- Phone No -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >Phone No <span class="important">*</span></label
                  >
                  {{ form.phone_no }}
                </div>
              </div>
              <!-- Extension -->
              <div class="col-md-6 col-sm-12">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form4Example1"
                    >Extension
                  </label>
                  {{ form.extension }}
                </div>
              </div>

              <!-- Country -->
              <div class="col-md-12 col-sm-12">
                <label class="form-label" for="form4Example1"
                  >Country <span class="important">*</span></label
                >
                {{ form.country }}
              </div>
            </div>
            <!-- Submit button -->
            <button
              type="submit"
              class="btn btn-primary contact-btn btn-block mb-4" 
              style="margin-top: 20px" 
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
    
{% endblock content %}