{% extends '_base.html' %}
{% load static %}

{% block title %}Customers{% endblock title %}

{% block content %}
 
  <main>
    <section class="customers">
      <div class="inner">
        <h1>
          Over 20 years of experience solving complex problems and building
          solutions
        </h1>
        <p>
          Our consultants at Wolfram MathCore bring technical skills, vertical
          industry prowess and unmatched expertise to meet customer goals.
        </p>

        <p>
          We have partnered with industry leaders such as AstraZeneca, SKF and
          Rolls-Royce, using model-based design to develop novel drug safety
          assessment tools, develop new algorithms for bearing simulation and
          monitor performance of propulsion engines.
        </p>
      </div>
    </section>

    <!-- SlideShow -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide slides customers"
      data-bs-ride="true"
    >
      <div class="slides-inner">
        <div id="slide1" class="carousel-item active">
          <div class="slide-quote">
            <p class="text">
              Over the years Wolfram MathCore consultants have been an
              essential part of the team that develops our bearing simulation
              tool BEAST.
            </p>
            <p class="attr">—Dag Fritzson, Senior Scientist, SKF AB</p>
            <div class="img">
              <img
                src="{% static 'images/quotes-skf-logo.png' %}"
                alt="SKF Logo"
                width="94"
                height="22"
              />
            </div>
          </div>
        </div>
        <div id="slide2" class="carousel-item">
          <div class="slide-quote">
            <p class="text">
              As a world leader in ship propulsion development, it is crucial
              to have an in-depth understanding of system dynamics. Therefore,
              we collaborate with MathCore whenever we need to develop and
              analyze dynamic models of our systems.
            </p>
            <p class="attr">
              —Stig Lönngren, Responsible for Development of Pod Propulsion
              Mermaid™, Rolls-Royce AB
            </p>
            <div class="img">
              <img
                src="{% static 'images/quotes-rolls-royce-logo.png' %}"
                alt="Rolls-Royce Logo"
                width="141"
                height="41"
              />
            </div>
          </div>
        </div>
        <div id="slide3" class="carousel-item">
          <div class="slide-quote">
            <p class="text">
              For years Wolfram MathCore has been an essential partner. They
              have worked on tasks spanning from MR [magnetic resonance]
              physics and data processing to advanced mathematical modeling. I
              am really happy with the scientific results we have achieved,
              and also the pleasure of meeting the challenges together!
            </p>
            <p class="attr">
              —Professor Peter Lundberg, Head MR-Physics, Linköping University
              Hospital, Linköping University and Center for Medical Imaging
              and Visualization (CMIV)
            </p>
            <div class="img">
              <img
                src="{% static 'images/quotes-region-ostergotland-logo.png' %}"
                alt="Region Ostergotland Logo"
                width="198"
                height="52"
              />
            </div>
          </div>
        </div>
        <div id="slide4" class="carousel-item">
          <div class="slide-quote">
            <p class="text">
              By creating a virtual prototype of the Cleanergy CSP system, the
              system can be tested in a safe environment and the improvements
              of a possible change can be analyzed in a more efficient way.
              Furthermore, things such as profit estimations compared to
              geographical data can be done very quickly.
            </p>
            <p class="attr">
              —Martin Nilsson, Chief Engineer Thermodynamics, Cleanergy
            </p>
            <div class="img">
              <img
                src="{% static 'images/quotes-azelio-logo.png' %}"
                alt="Azelio Logo"
                width="128"
                height="25"
              />
            </div>
          </div>
        </div>
        <div id="slide5" class="carousel-item">
          <div class="slide-quote">
            <p class="text">
              By using Wolfram MathCore as an external partner, we can be sure
              that we really obtain a finished model with correct results,
              within given constraints. We can therefore give Wolfram MathCore
              our best recommendations.
            </p>
            <p class="attr">
              —Lennart Näs, Manager, Gas Turbine Performance and Thermal
              Processes, Siemens Industrial Turbomachinery AB
            </p>
            <div class="img">
              <img
                src="{% static 'images/quotes-siemens-logo.png' %}"
                alt="Siemens Logo"
                width="130"
                height="21"
              />
            </div>
          </div>
        </div>
        <div id="slide6" class="carousel-item">
          <div class="slide-quote">
            <p class="text">
              When we were about to develop a new engine test bench, we
              contacted Wolfram MathCore and asked them to help us with the
              vibration analysis. By making a dynamic model, they could study
              the system dynamics and give us design recommendations that
              proved to be essential for the success of the test bench.
            </p>
            <p class="attr">
              —Tommy Andersson, Head of Engine Dynamics and Acoustics, Scania
            </p>
            <div class="img">
              <img
                src="{% static 'images/quotes-scania-logo.png' %}"
                alt="Scania Logo"
                width="163"
                height="36"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-indicators show">
        <span
          class="nav active"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          aria-current="true"
          aria-label="Slide 1"
          >SKF</span
        >
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          >Rolls-Royce</span
        >
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          >Region Östergötland</span
        >
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          >Azelio</span
        >
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
          >Siemens</span
        >
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
          >Scania</span
        >
      </div>
      <div class="arrows show">
        <span
          class="prev"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
          >‹</span
        >
        <span
          class="next"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
          >›</span
        >
      </div>
    </div>

    <section class="logos">
      <div class="inner">
        <img class="hide__900" src="{% static 'images/company-logos.png' %}" />
        <img
          class="hide show__900 hide__600"
          src="{% static 'images/company-logos-900.png' %}"
        />
        <img
          class="hide show__600 hide__320"
          src="{% static 'images/company-logos-600.png' %}"
        />
        <img class="hide show__320" src="{% static 'images/company-logos-320.png' %}" />
      </div>
    </section>

    <div class="contact-blurb">
      <div class="inner">
        <p class="large">
          Contact MathCore today to see what we can do for you.
        </p>
        <a href="{% url 'main:customers' %}" class="btn btn-lg">Contact Us</a>
      </div>
    </div>
  </main>

{% endblock content %}
    