{% extends '_base.html' %} 
{% load static %} 

{% block title %}Home{% endblock title %} 

{% block content %}


<main>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="true"
  >
    <div class="slides-inner">
      <div id="slide1" class="carousel-item active">
        <div class="slide-content">
          <h1>
            Curiosity-driven<br />
            engineering
          </h1>
          <p>
            We are experts at applying a model-based system engineering approach
            to drive insight, innovation and results—technology, consulting and
            solutions.
          </p>
          <a href="{% url 'main:contact' %}" class="btn btn-lg" target="_blank"
            >Contact Us Today</a
          >
        </div>
      </div>
      <div id="slide2" class="carousel-item">
        <div class="slide-content">
          <h1>
            Decades of computation<br />
            leadership
          </h1>
          <p>
            We apply decades of computation leadership to drive innovation in
            your data analytics, algorithm development and system design.
          </p>
          <a href="{% url 'main:service1' %}" class="btn btn-lg" target="_blank"
            >Engineering Expertise</a
          >
        </div>
      </div>
      <div id="slide3" class="carousel-item">
        <div class="slide-content">
          <h1>
            Let the problem<br />
            lead the toolset
          </h1>
          <p>
            Through a multiparadigm approach, we have helped a wide range of
            industries to innovate and improve their products and systems.
          </p>
          <a href="{% url 'main:customers' %}" target="_blank" class="btn btn-lg"
            >Customer Cases</a
          >
        </div>
      </div>
      {% comment %}
      <div id="slide4" class="carousel-item">
        <div class="slide-content">
          <h1>
            Curiosity-driven<br />
            engineering
          </h1>
          <p>
            We are experts at applying a model-based system engineering approach
            to drive insight, innovation and results—technology, consulting and
            solutions.
          </p>
          <a href="#" class="btn btn-lg">Contact Us Today</a>
        </div>
      </div>
      <div id="slide5" class="carousel-item">
        <div class="slide-content">
          <h1>
            Curiosity-driven<br />
            engineering
          </h1>
          <p>
            We are experts at applying a model-based system engineering approach
            to drive insight, innovation and results—technology, consulting and
            solutions.
          </p>
          <a href="#" class="btn btn-lg">Contact Us Today</a>
        </div>
      </div>
      <div id="slide6" class="carousel-item">
        <div class="slide-content">
          <h1>
            Curiosity-driven<br />
            engineering
          </h1>
          <p>
            We are experts at applying a model-based system engineering approach
            to drive insight, innovation and results—technology, consulting and
            solutions.
          </p>
          <a href="#" class="btn btn-lg">Contact Us Today</a>
        </div>
      </div>
      {% endcomment %}
    </div>
    <div class="carousel-indicators show">
      <span
        class="nav active"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        aria-current="true"
        aria-label="Slide 1"
      ></span>
      <span
        class="nav"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></span>
      <span
        class="nav"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></span>
      {% comment %}
      <span
        class="nav"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></span>
      <span
        class="nav"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></span>
      <span
        class="nav"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></span>
      {% endcomment %}
    </div>
    <div class="arrows show">
      <span
        class="prev"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
        >‹</span
      >
      <span
        class="next"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
        >›</span
      >
    </div>
  </div>

  <section class="services">
    <h1 class="services-heading">Services</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
          <div class="card card1">
            <div class="post-layout">
              <a href="{% url 'main:service1' %}" class="post-thumbnail"></a>
              <div class="post-text">
                <h2>
                  <a href="{% url 'main:service1' %}" target="_blank"
                    >IMPLEMENTATION CONSULTING SERVICES</a
                  >
                </h2>
                <div class="service-content">
                  {% comment %} Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Omnis soluta excepturi inventore quam
                  officia alias quae delectus quod sit voluptatem corrupti ipsam
                  voluptate obcaecati ea, veniam quaerat quia deserunt commodi?
                  Soluta iure quae libero totam voluptatem porro. Ratione et
                  nulla, hic consequuntur eveniet accusamus dolore, aliquam
                  officiis repudiandae consectetur unde explicabo, cum qui
                  laudantium ipsum rem id alias. Illo consequatur quas
                  voluptatum animi et blanditiis. Hic sapiente distinctio,
                  expedita et magni temporibus eveniet? Sint quibusdam sunt
                  eveniet suscipit eligendi culpa animi incidunt consequatur
                  nisi molestias nihil voluptate vitae harum maiores
                  perspiciatis quisquam alias aliquid totam, officiis facere.
                  Aut, sapiente dolor. {% endcomment %} Our customers are never
                  just a number. We specialize in listening to our customer's
                  needs and meeting their short and long-term objectives. We
                  always look to establish long-term partnerships with our
                  customers and strive to understand their unique needs so that
                  we can provide flexible options and the right blend of
                  services. We understand what it takes to keep an SAP system
                  healthy and thriving and have the experience, talent, and
                  happy customers to prove it. Driven by our passion for
                  improving the customer and user experience, we offer strategic
                  consulting throughout your lifecycle with SAP SuccessFactors.
                  From system planning, roadmap sessions, system health checks,
                  and special initiatives (like Diversity and Inclusion
                  projects), our experts are standing by to make sure you gain
                  the right knowledge and understand your options.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-4">
          <div class="card card2">
            <div class="post-layout">
              <a href="{% url 'main:service2' %}" class="post-thumbnail"></a>
              <div class="post-text">
                <h2>
                  <a href="{% url 'main:service2' %}" target="_blank"
                    >Managed Support Services</a
                  >
                </h2>
                <div class="service-content">
                  Allow HR Focal Point to manage your SAP SuccessFactors and SAP
                  HCM environments. Our managed support services grant your
                  business all of the perks without all the stress of in-house
                  maintenance. And the best news is, our services are designed
                  to address repetitive administrative tasks, so you can focus
                  on strategic HR goals and initiative. We know that each
                  company, taking into account its environment, places
                  individual requirements on IT solutions in order to be able to
                  operate optimally in its business. We just start here. We work
                  closely together with you to adapt your SAP SE solutions to
                  the specifics of your company (customizing) and&nbsp;prepare
                  you for the future. Your benefit is the maximum benefit of
                  your SAP® software.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-4">
          <div class="card card4">
            <div class="post-layout">
              <a href="{% url 'main:service3' %}" class="post-thumbnail"></a>
              <div class="post-text">
                <h2>
                  <a href="{% url 'main:service3' %}" target="_blank"
                    >PROCESS CONSULTING SERVICES</a
                  >
                </h2>
                <div class="service-content">
                  We would like to help you to increase your competitiveness, to
                  react quicker on continuously changing customer requirements,
                  optimize products and services, winning new markets, maximize
                  profits and increase the value of your company in long term.
                  We create a technology and application environment which is
                  precisely tailored to your requirements, highly scalable,
                  available at any time, open for future developments and
                  standards and supports the core of your business. Innovative
                  technologies help your company to create business value, as
                  well as stand out from your competitors. With the use of cloud
                  services, mobility, big data and social media you can improve
                  the performance, improve the marketable of your services and
                  products and react quicker to changing customer requirements.
                  Through the application of different IT strategies, we are
                  helping you to use new technologies in a more efficient and
                  effective way. To introduce an appropriate IT architecture, we
                  are orientating on already existing business processes and
                  organizational structures.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="card card3">
            <div class="post-layout">
              <a href="{% url 'main:service4' %}" class="post-thumbnail"></a>
              <div class="post-text">
                <h2>
                  <a href="{% url 'main:service4' %}" target="_blank"
                    >PROJECT MANAGEMENT SERVICES</a
                  >
                </h2>
                <div class="service-content">
                  Apart from supporting you to manage the challenges in your
                  company in a professional manner, the service aspect at the HR
                  Focal Point Consulting Business Solutions GmbH is in the
                  foreground. Besides a successful collaboration on a work
                  level, we also keep in mind the interpersonal level in every
                  client project we are working on. ur project managers are
                  certified in accordance with the GPM standard and staying at
                  your side in every stage of the process. No matter if you wish
                  us to support the project management process or to control the
                  whole project on a professional and technical level – your
                  choice is our opportunity! Classical project management means
                  that the whole project is planned on a basis of different
                  project stages. For a lot of companies a project management
                  according to GPM is the first choice to manage their projects.
                  To meet the growing technical and global requirements, we
                  adjust every project management to overcome these challenges.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
