{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <main>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="true"
    >
      <div class="slides-inner">
        <div id="slide1" class="carousel-item active">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
        <div id="slide2" class="carousel-item">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
        <div id="slide3" class="carousel-item">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
        <div id="slide4" class="carousel-item">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
        <div id="slide5" class="carousel-item">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
        <div id="slide6" class="carousel-item">
          <div class="slide-content">
            <h1>
              Curiosity-driven<br />
              engineering
            </h1>
            <p>
              We are experts at applying a model-based system engineering
              approach to drive insight, innovation and results—technology,
              consulting and solutions.
            </p>
            <a href="#" class="btn btn-lg">Contact Us Today</a>
          </div>
        </div>
      </div>
      <div class="carousel-indicators show">
        <span
          class="nav active"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          aria-current="true"
          aria-label="Slide 1"
        ></span>
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></span>
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></span>
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></span>
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></span>
        <span
          class="nav"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></span>
      </div>
      <div class="arrows show">
        <span
          class="prev"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
          >‹</span
        >
        <span
          class="next"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
          >›</span
        >
      </div>
    </div>

    <section class="services">
      <h1 class="services-heading">Services</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-4">
            <div class="card card1">
              <div class="post-layout">
                <a href="{% url 'main:service1' %}" class="post-thumbnail"></a>
                <div class="post-text">
                  <h2>
                    <a href="{% url 'main:service1' %}"
                      >IMPLEMENTATION CONSULTING SERVICES</a
                    >
                  </h2>
                  <div class="service-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis soluta excepturi inventore quam officia alias quae
                    delectus quod sit voluptatem corrupti ipsam voluptate
                    obcaecati ea, veniam quaerat quia deserunt commodi? Soluta
                    iure quae libero totam voluptatem porro. Ratione et nulla,
                    hic consequuntur eveniet accusamus dolore, aliquam
                    officiis repudiandae consectetur unde explicabo, cum qui
                    laudantium ipsum rem id alias. Illo consequatur quas
                    voluptatum animi et blanditiis. Hic sapiente distinctio,
                    expedita et magni temporibus eveniet? Sint quibusdam sunt
                    eveniet suscipit eligendi culpa animi incidunt consequatur
                    nisi molestias nihil voluptate vitae harum maiores
                    perspiciatis quisquam alias aliquid totam, officiis
                    facere. Aut, sapiente dolor.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 mb-4">
            <div class="card card2">
              <div class="post-layout">
                <a href="{% url 'main:service2' %}" class="post-thumbnail"></a>
                <div class="post-text">
                  <h2>
                    <a href="{% url 'main:service2' %}">SAP SERVICES CONSULTING</a>
                  </h2>
                  <div class="service-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis soluta excepturi inventore quam officia alias quae
                    delectus quod sit voluptatem corrupti ipsam voluptate
                    obcaecati ea, veniam quaerat quia deserunt commodi? Soluta
                    iure quae libero totam voluptatem porro. Ratione et nulla,
                    hic consequuntur eveniet accusamus dolore, aliquam
                    officiis repudiandae consectetur unde explicabo, cum qui
                    laudantium ipsum rem id alias. Illo consequatur quas
                    voluptatum animi et blanditiis. Hic sapiente distinctio,
                    expedita et magni temporibus eveniet? Sint quibusdam sunt
                    eveniet suscipit eligendi culpa animi incidunt consequatur
                    nisi molestias nihil voluptate vitae harum maiores
                    perspiciatis quisquam alias aliquid totam, officiis
                    facere. Aut, sapiente dolor.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card card4">
              <div class="post-layout">
                <a href="{% url 'main:service3' %}" class="post-thumbnail"></a>
                <div class="post-text">
                  <h2>
                    <a href="{% url 'main:service3' %}">PROCESS CONSULTING SERVICES</a>
                  </h2>
                  <div class="service-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis soluta excepturi inventore quam officia alias quae
                    delectus quod sit voluptatem corrupti ipsam voluptate
                    obcaecati ea, veniam quaerat quia deserunt commodi? Soluta
                    iure quae libero totam voluptatem porro. Ratione et nulla,
                    hic consequuntur eveniet accusamus dolore, aliquam
                    officiis repudiandae consectetur unde explicabo, cum qui
                    laudantium ipsum rem id alias. Illo consequatur quas
                    voluptatum animi et blanditiis. Hic sapiente distinctio,
                    expedita et magni temporibus eveniet? Sint quibusdam sunt
                    eveniet suscipit eligendi culpa animi incidunt consequatur
                    nisi molestias nihil voluptate vitae harum maiores
                    perspiciatis quisquam alias aliquid totam, officiis
                    facere. Aut, sapiente dolor.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card card3">
              <div class="post-layout">
                <a href="{% url 'main:service4' %}" class="post-thumbnail"></a>
                <div class="post-text">
                  <h2>
                    <a href="{% url 'main:service4' %}">PROJECT MANAGEMENT SERVICES</a>
                  </h2>
                  <div class="service-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis soluta excepturi inventore quam officia alias quae
                    delectus quod sit voluptatem corrupti ipsam voluptate
                    obcaecati ea, veniam quaerat quia deserunt commodi? Soluta
                    iure quae libero totam voluptatem porro. Ratione et nulla,
                    hic consequuntur eveniet accusamus dolore, aliquam
                    officiis repudiandae consectetur unde explicabo, cum qui
                    laudantium ipsum rem id alias. Illo consequatur quas
                    voluptatum animi et blanditiis. Hic sapiente distinctio,
                    expedita et magni temporibus eveniet? Sint quibusdam sunt
                    eveniet suscipit eligendi culpa animi incidunt consequatur
                    nisi molestias nihil voluptate vitae harum maiores
                    perspiciatis quisquam alias aliquid totam, officiis
                    facere. Aut, sapiente dolor.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}