{% extends '_base.html' %}
{% load static %}

{% block title %}Implementation Consulting{% endblock title %}

{% block content %}

  <header class="page-header" style="margin-top: 30px !important">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1 class="title text-center" style="margin-bottom: 3rem">
          Implementation Consulting
        </h1>
      </div>
    </div>
  </header>

  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-6 col-sm-6 column">
              <div>
                <h2 class="title-lg">
                  Proven Methods for a Successful Software Implementation
                </h2>
                <p class="lead">
                  Our consultants guarantee an efficient and cost optimized
                  software implementation, that allows your IT investments
                  to gain profit more quickly. Furthermore, to improve the
                  skills of your employees and increase the business
                  results, if the technology is applied optimal. To
                  guarantee this, we orient ourselves on the Sure Step
                  Method, an implementation method developed by
                  <a
                    href="https://archive.sap.com/documents/docs/DOC-8032"
                    title="SAP methology"
                    ><strong>SAP</strong> </a
                  >for an efficient implementation of software or software
                  components.
                </p>

                <p>&nbsp;</p>
              </div>
            </div>
            <div class="col-md-1 column">
              <div></div>
            </div>
            <div class="col-md-4 column">
              <div></div>
            </div>
            <div class="col-md-3 column">
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-6 col-sm-6 column">
              <div>
                <p>
                  <img
                    id="__mcenew"
                    src="{% static 'images/surestep.png' %}"
                    alt="HR Focal Point Consulting Implementation"
                    rel="3662"
                    data-id="3662"
                  />
                </p>
              </div>
            </div>

            <div class="col-md-4 column">
              <div>
                <h2 class="title-lg">Project Methodology Sure Step</h2>
                <p class="lead">
                  The Sure Step Methodology is subdividing the
                  <a
                    href="{% url 'main:service4' %}"
                    title="Project &amp; Business Management"
                    ><strong>project management</strong></a
                  >
                  process of a software project in several steps: diagnosis,
                  analysis, conception, development, implementation and
                  commissioning.
                </p>
                <p class="title-sm"><strong>Diagnosis</strong></p>
                <p class="lead">
                  In the first step, it is necessary to define the problem,
                  which should be solved with the implementation of the
                  project and define the customer requirements.
                </p>
                <p class="title-sm"><strong>Analysis</strong></p>
                <p class="lead">
                  The next step is to perform a state analysis, that
                  examines the current information technologies, the way of
                  information processing, as well as the business processes
                  and organizational structures.
                </p>
                <p class="title-sm"><strong>Conception</strong></p>
                <p class="lead">
                  In the conception stage, it is necessary to develop a
                  software concept, as well as create a time and framework
                  plan.
                </p>
                <p class="title-sm"><strong>Development</strong></p>
                <p class="lead">
                  After the conception follows the development. On the base
                  of the information collected on the previous steps its now
                  the time to develop the software and test it properly. In
                  the testing stage it is mandatory to identify possible
                  errors and resolve them.
                </p>
                <p class="title-sm"><strong>Implementation</strong></p>
                <p class="lead">
                  After a successful testing the software can be
                  implemented. For this step, it is necessary to gather
                  company data or rather be migrated from the prior system.
                  In following steps, the IT business organization should be
                  introduced, as well as providing employees with a training
                  for the newly implemented software.
                </p>
                <p class="title-sm"><strong>Commissioning</strong></p>
                <p class="lead">
                  If all prior steps were successful it is possible to put
                  the software into operation and the software project will
                  be completed. In case of occurring errors, it is possible
                  to remove them with updates and patches.
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="col-md-3 column">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}