{% extends '_base.html' %}
{% load static %}

{% block title %}Support{% endblock title %}

{% block content %}
  
  <header class="page-header" style="margin-top: 30px !important">
    <div class="row">
      <div class="col-sm-12 col-md-12 mx-auto">
        <h1 class="title text-center" style="margin-bottom: 3rem">
          Support
        </h1>
      </div>
    </div>
  </header>

  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="container">
          <div class="row clearfix">
            <h2>An Experienced Partner&nbsp;</h2>
            <p>
              The introduction of a new software system leads often to a
              structural change in the organization of the company and
              most of the processes. Therefore, it is important to rely
              on our professional knowledge and experience when it comes
              to software implementation and
              <a href="{% url 'main:service4' %}" title="Project  Management"
                ><strong>project management</strong></a
              >.
            </p>
            <h2>Expertise</h2>
            <p>
              The expertise of our employees is a crucial factor for the
              success of our IT projects. We put special emphasis on an
              intensive training and development of our employees, for
              which reason every employee is highly qualified and
              committed to a successful outcome of your project. Our
              team has years of experience in project management.
              Therefore, it is possible for us to offer your company an
              IT solutions which is exactly adjusted to your needs.
            </p>
            <h2>Methodical Approach</h2>
            <p>
              For a successful software
              <strong
                ><a href="{% url 'main:service1' %}" title="SAP Software"
                  >implementation</a
                ></strong
              >, we trust a tested and proved methodology, which is
              defined by process steps, and guarantees a high
              flexibility during the whole project.
            </p>
            <h2>Software, which is worth it</h2>
            <p>
              Invest in an IT project and a software solution which is
              highly profitable. Our IT solutions are cost-saving and
              profitable at the same time. They aim to shape the
              processes within your company more efficient and therefore
              reduce the costs in your company. Your revenue will
              increase through the optimal usage of your sales
              potentials. Also, a more efficient target achievement and
              monitoring of the company success will be guaranteed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
