{% extends '_base.html' %}
{% load static %}

{% block title %}Development{% endblock title %}

{% block content %}

  <header class="page-header" style="margin-top: 30px !important">
    <div class="row">
      <div class="col-sm-12 col-md-12 mx-auto">
        <h1 class="title text-center" style="margin-bottom: 3rem">
          Development
        </h1>
      </div>
    </div>
  </header>

  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 column">
              <div>
                <h2>Powerful Software Solutions</h2>
                <p>
                  Based on the newest technology standards we offer
                  software solutions, that are adjusted to your wants
                  and needs. Through a detailed analysis of your
                  requirement profile, that is respecting economic
                  aspects as well as technical aspects, we create the
                  ideal software for your company. Maximize your selling
                  potential and increase the efficiency of your
                  <strong>workflows </strong>. During the whole
                  <strong>software project</strong>, we support and
                  consult your company with our expertise.&nbsp;
                </p>
              </div>
            </div>
            <div class="col-md-1 column">
              <div></div>
            </div>
            <div class="col-md-4 column">
              <div>
                <p>
                  <img
                    id="__mcenew"
                    src="{% static 'images/httpswwwinkubitcomen-ussolutions-servicesservicesdevelopment.jpg' %}"
                    alt=""
                    rel="4880"
                    data-id="4880"
                  />&nbsp;
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 column">
              <div>
                <p>
                  <img
                    id="__mcenew"
                    src="{% static 'images/bild-1-entwicklung.jpg' %}"
                    alt="HR Focal Point Consulting Development"
                    rel="3599"
                    data-id="3599"
                  />
                </p>
              </div>
            </div>
            <div class="col-md-1 column">
              <div></div>
            </div>
            <div class="col-md-4 column">
              <div>
                <h2 style="text-align: left">
                  Exactly what your company needs
                </h2>
                <p>
                  We help you to identify the appropriate standard
                  software or straight away with the development of an
                  individual solution. We would like to handle the
                  customizing and integration of the software and train
                  all employees and staff.
                </p>
              </div>
            </div>
            <div class="col-md-3 column">
              <div>
                <aside class="widget list" style="text-align: center">
                  <div class="employee">
                    <div class="default">
                      <div class="image"></div>
                      <div class="description">
                        <div class="vertical" style="padding-top: 5px">
                          <p class="name">Mario Baldoni</p>
                          <div class="role">
                            HR Focal Point Consulting Founder and CEO HR
                            Focal Point Consulting Business Solutions
                            GmbH
                          </div>
                          <br />

                          <a
                            href="javascript:linkTo_UnCryptMailto(&#39;ocknvq&lt;mck0iwv|gkvBkpmwdkv0eqo&#39;, 2);"
                            class="mail"
                          >
                            <div
                              class="livicon block"
                              data-n="mail"
                              data-s="16"
                              data-op="0"
                              data-c="#1e1e1e"
                              data-hc="0"
                              style="margin-bottom: 5px"
                            ></div>
                            <small></small>
                            Send an E-Mail </a
                          ><br /><br />
                          <div
                            class="social"
                            style="margin-top: 5px; margin-bottom: 5px"
                          >
                            <a
                              href="https://www.xing.com/profile/Kai_Gutzeit2"
                              ><img src="{% static 'images/Xing 32px.gif' %}"
                            /></a>

                            <a
                              href="https://www.linkedin.com/profile/view?id=AAkAAAefHnoBYtukERc05q-AmwguaVKFOVs2H4E"
                              ><img src="{% static 'images/LinkedIn 32px.gif' %}"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
         
