{% extends '_base.html' %}
{% load static %}

{% block title %}Project Management{% endblock title %}

{% block content %}
  <header class="page-header" style="margin-top: 30px !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 mx-auto">
          <h1 class="title text-center" style="margin-bottom: 3rem">
            Project Management
          </h1>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-10 column">
        <div>
          <h2>We are your reliable partner for successful IT projects</h2>
        </div>
      </div>
      <p>&nbsp;&nbsp;</p>
      <div class="col-md-6 col-sm-12 mx-auto">
        <p>
          <img
            id="__mcenew"
            style="max-width: 100%; height: auto"
            src="{% static 'images/projektmanagement_en.png' %}"
            alt="Project management at Swiss HCM+ Consulting"
            data-udi="umb://media/8a0e8db4c9f546a9a87f0c99db00c28c"
          />
        </p>
      </div>
      <div class="col-md-10 col-sm-12" style="margin-top: 1rem">
        <p style="margin-bottom: 20px !important;">
          <span style="line-height: 1.6"
            >Apart from supporting you to manage the challenges in your
            company in a professional manner, the service aspect at the HR
            Focal Point Consulting Business Solutions GmbH is in the
            foreground. Besides a successful collaboration on a work level,
            we also keep in mind the interpersonal level in every client
            project we are working on.</span
          >
        </p>
      </div>

      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5 column">
        <div>
          <h3 style="font-size: 1rem; font-weight: 700">
            In the collaboration with you we place special emphasis on…
          </h3>
          <ul>
            <li>A continuous and constructive knowledge exchange and</li>
            <li>An excellent project management.</li>
          </ul>
        </div>
      </div>

      <div class="col-md-5 column">
        <div>
          <h3 style="font-size: 1rem; font-weight: 700">
            This allows us . . .
          </h3>
          <ul>
            <li>A team based project and</li>
            <li>
              A good networking of every person involved in the project, no
              matter if one works on-site or digital from different places
              all over the world.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 column">
        <div>
          <h2 style="margin: 20px 0 !important;">
            The appropriate project management for your IT project – with HR
            Focal Point Consulting at your side
          </h2>
          <p style="margin-bottom: 20px">
            With our various approaches in project and requirements
            management, we are ideally positioned to tailor the project
            management to your specific needs and keep you completely
            satisfied.
          </p>
        </div>
      </div>
      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4 column">
        <div>
          <p style="text-align: center">
            <img
              id="__mcenew"
              src="{% static 'images/button-gpm_en.png' %}"
              alt="Classical project management GPM at Swiss HCM+ Consulting"
              data-udi="umb://media/cebaf36b2a784a83b6e970f2f9fde23c"
            />
          </p>
        </div>
      </div>
      <div class="col-md-1 column">
        <div></div>
      </div>
      <div class="col-md-4 column">
        <div>
          <h3>
            “Classical” P<span>roject Management</span><span>&nbsp;</span>in
            accordance with GPM
          </h3>
          <p>
            Our project managers are certified in accordance with the GPM
            standard and staying at your side in every stage of the process.
            No matter if you wish us to support the project management
            process or to control the whole project on a professional and
            technical level – your choice is our opportunity!
          </p>
          <p>
            Classical project management means that the whole project is
            planned on a basis of different project stages.&nbsp;For a lot
            of companies a project management according to GPM is the first
            choice to manage their projects. To meet the growing technical
            and global requirements, we adjust every project management
            to&nbsp;overcome these&nbsp;challenges.
          </p>
        </div>
      </div>
      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 column">
        <div>
          <h3>Agile Project Management in accordance with SCRUM</h3>
          <p>
            SCRUM is probably one of the most popular keywords when someone
            talks about managing projects in a modern way. We as HR Focal
            Point Consulting can accompany your SCRUM process with our
            certified SCRUM masters and adjust the whole process to your
            needs. Project management in accordance with SCRUM is giving you
            a lot of advantages, especially when projects rise in complexity
            and thus in&nbsp;planning uncertainty. We speak about experience
            when we say that no company can use 100 percent of the SCRUM
            principles. That is why we adjust the SCRUM process to the
            business processes in your company. We would like to provide you
            with an Swiss HCM+ Consulting-SCRUM team that supports you
            with the SCRUM project management and the implementation of your
            professional and technical requirements within your business.
          </p>
          <p>
            In case you want to have a technological management of your
            SCRUM project, we can provide you with the appropriate
            infrastructure based on Microsoft and VSTS technology.
          </p>

        </div>
      </div>
      <div class="col-md-1 column">
        <div></div>
      </div>
      <div class="col-md-4 column">
        <div>
          <p style="text-align: center">
            <img
              id="__mcenew"
              src="{% static 'images/button-ireb.png' %}"
              alt="SCRUM agile project management at Swiss HCM+ Consulting"
              data-udi="umb://media/eace9bb7c9ec462096a92baa76f7c7f2"
            />
          </p>
        </div>
      </div>
      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 column">
        <div></div>
      </div>
      <div class="col-md-3 column">
        <div></div>
      </div>
    </div>
  </div>
   

{% endblock content %}
