{% extends '_base.html' %}
{% load static %}

{% block title %}Implementation Consulting{% endblock title %}

{% block content %}

<header class="page-header" style="margin-top: 30px !important">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1 class="title text-center" style="margin-bottom: 3rem">
          SAP Services Consulting
        </h1>
      </div>
    </div>
  </div>
</header>
<!-- .header -->

<div class="umb-grid">
  <div class="grid-section">
    <div>
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12 col-sm-12">
            <h2>The SAP SE world: Our focus at HR Focal Point Consulting</h2>
            <p>
              Allow HR Focal Point to manage your SAP SuccessFactors and SAP HCM
              environments. Our managed support services grant your business all
              of the perks without all the stress of in-house maintenance. And the
              best news is, our services are designed to address repetitive
              administrative tasks, so you can focus on strategic HR goals and
              initiative
            </p>
          </div>
          <div
            class="col-md-12 col-sm-12"
            style="margin-top: 0px !important; margin-bottom: 1.2rem; display: flex; justify-content: center;"
          >
            <img
              id=""
              src="{% static 'images/u-sap_services_2.png' %}"
              alt="HR Focal Point Consulting SAP Services overview"
              style="margin: 0 auto !important; max-width: 100%"
            />
          </div>

          <h2>
            Our service - SAP tailored to the specific needs of your company
          </h2>
          <p>
            We know that each company, taking into account its environment,
            places individual requirements on IT solutions in order to be able
            to operate optimally in its business. We just start here. We work
            closely together with you to adapt your SAP SE solutions to the
            specifics of your company (customizing) and&nbsp;prepare you for the
            future. Your benefit is the maximum benefit of your SAP® software.
          </p>
          <p>
            In order to achieve this success, we place emphasis on a holistic
            consulting approach. Comprehensive support during your SAP® project
            completes the HR Focal Point Consulting service package:
          </p>
          <ul class="additional-services">
            <li><p>SAP SuccessFactors Partner Managed Cloud</p></li>
            <li><p>Application Management</p></li>
            <li><p>SAP NS2 Secure Cloud Support</p></li>
            <li><p>Cloud-Based Payroll Services</p></li>
            <li>
              <p>Business Process Outsourcing</p>
            </li>
            <li>
              <p>SAP licensing for SuccessFactors</p>
            </li>
            <li><p>Enhancements</p></li>
            <li><p>Implementation</p></li>
            <li><p>Integrations</p></li>
            <li><p>Mobile Access</p></li>
            <li>
              <p>Full Scale Support</p>
            </li>
            <li>
              <p>Live System Assessment</p>
            </li>
          </ul>

          <h2>You have high demands on us. We also.</h2>
          <p>
            If you feel optimally cared of with HR Focal Point Consulting after
            implementation and adaption of your SAP software and you are
            satisfied from the beginning to the completion of your IT project,
            then we are proud to have supported you as a partner very well.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
