{% extends '_base.html' %}
{% load static %}

{% block title %}Process Consulting{% endblock title %}

{% block content %}
  <header class="page-header" style="margin-top: 30px !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 mx-auto">
          <h1 class="title text-center" style="margin-bottom: 3rem">
            Process Consulting
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- .header -->

  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 col-sm-12 column">
              <div>
                <h2>Professional IT Consulting</h2>
                <p>
                  We would like to help you to increase your competitiveness, to
                  react quicker on continuously changing customer requirements,
                  optimize products and services, winning new markets, maximize
                  profits and increase the value of your company in long term. We
                  create a technology and application environment which is
                  precisely tailored to your requirements, highly scalable,
                  available at any time, open for future developments and
                  standards and supports the core of your business.
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="col-md-1 col-sm-12 column">
              <div></div>
            </div>
            <div class="col-md-4 col-sm-12 column">
              <div>
                <p>
                  <img
                    id="__mcenew"
                    src="{% static 'images/beratung-bild-1-klein.jpg' %}"
                    alt="INKUIBIT Consulting"
                    rel="3734"
                    data-id="3734"
                    style="max-width: 100%; height: auto"
                  />
                </p>
                <p>&nbsp;</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-4 col-sm-12 column">
              <div>
                <p>
                  <img
                    id="__mcenew"
                    src="{% static 'images/beratung-bild-2-klein.jpg' %}"
                    alt="HR Focal Point Consulting COnsulting"
                    rel="3735"
                    data-id="3735"
                    style="max-width: 100%; height: auto"
                  />
                </p>
              </div>
            </div>
            <div class="col-md-1 col-sm-12 column">
              <div></div>
            </div>
            <div class="col-md-4 col-sm-12 column">
              <div>
                <h2>
                  <strong style="font-size: 1.7rem">Service-Portfolio</strong>
                </h2>
                <p>
                  Our service portfolio includes consulting in architecture,
                  strategy, technology and the developing of an individual
                  solution. We cover every customer section, as well as the whole
                  IT life cycle.
                </p>
                <p>
                  <strong style="font-size: 1.1rem"
                    >IT Architecture and Strategy Consulting</strong
                  >
                </p>
                <p>
                  Innovative technologies help your company to create business
                  value, as well as stand out from your competitors. With the use
                  of cloud services, mobility, big data and social media you can
                  improve the performance, improve the marketable of your services
                  and products and react quicker to changing customer
                  requirements. Through the application of different IT
                  strategies, we are helping you to use new technologies in a more
                  efficient and effective way. To introduce an appropriate IT
                  architecture, we are orientating on already existing
                  <strong> business processes </strong>and organizational
                  structures.
                </p>
                <p>
                  <strong style="font-size: 1.1rem"
                    >Technology Consulting and the Development of Individual
                    Solutions</strong
                  >
                </p>
                <p>
                  We develop software solutions adjusted to your business and IT
                  requirements in your company. The solutions encompass all levels
                  of complexity, beginning from the traditional implementation to
                  a cloud environment. In the foreground are IT security,
                  scalability and a high ROI with the most possible flexibility of
                  the solutions.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 column">
              <div>
                <aside class="widget list" style="text-align: center">
                  <div class="employee">
                    <div class="default">
                      <div class="image"></div>
                      <div class="description">
                        <div class="vertical" style="padding-top: 5px">
                          <p class="name">Manuel Sepulveda</p>
                          <div class="role">
                            CEO HR Focal Point Consulting Consulting GmbH
                          </div>
                          <br />

                          <a
                            href="javascript:linkTo_UnCryptMailto(&#39;ocknvq&lt;rcvtkem0oeikdpg{Bkpmwdkv0eqo&#39;, 2);"
                            class="mail"
                          >
                            <div
                              class="livicon block"
                              data-n="mail"
                              data-s="16"
                              data-op="0"
                              data-c="#1e1e1e"
                              data-hc="0"
                              style="margin-bottom: 5px"
                            ></div>
                            <small></small>
                            Send an E-Mail </a
                          ><br /><br />
                          <div
                            class="social"
                            style="margin-top: 5px; margin-bottom: 5px"
                          >
                            <a href="https://www.xing.com/profile/"
                              ><img src="{% static 'images/Xing 32px.gif' %}"
                            /></a>

                            <a href="https://www.linkedin.com/in/"
                              ><img src="{% static 'images/LinkedIn 32px.gif' %}"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </aside>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

