{% extends '_base.html' %}
{% load static %}

{% block title %}Implementation Consulting{% endblock title %}

{% block content %}

  <header class="page-header" style="margin-top: 30px !important">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1 class="title text-center" style="margin-bottom: 3rem">
          SAP Services Consulting
        </h1>
      </div>
    </div>
  </header>
  <!-- .header -->

  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="container">
          <div class="row clearfix">
            <h2>
              The SAP SE world: Our focus at HR Focal Point Consulting
            </h2>
            <p>
              In order to manage the changing challenges of everyday
              business life, you need a well-functioning and harmonized
              IT infrastructure. SAP SE offers a variety of different
              systems and solutions to build such an IT infrastructure -
              and this for a wide range of industries. We support you
              competently in the development, implementation and
              customizing of new
              <strong>SAP</strong
              >&nbsp;solutions in your company.
            </p>
            <p>
              Thanks to the expertise of our developers and consultants
              at HR Focal Point Consulting, we focus on the following
              areas
            </p>
            <div
              class="col-md-9 col-sm-12 mx-auto"
              style="margin-top: 0px !important; margin-bottom: 1.2rem"
            >
              <img
                id=""
                src="{% static 'images/u-sap_services_2.png' %}"
                alt="HR Focal Point Consulting SAP Services overview"
              />
            </div>

            <h2>
              Our service - SAP tailored to the specific needs of your
              company
            </h2>
            <p>
              We know that each company, taking into account its
              environment, places individual requirements on IT
              solutions in order to be able to operate optimally in its
              business. We just start here. We work closely together
              with you to adapt your SAP SE solutions to the specifics
              of your company (customizing) and&nbsp;prepare you for the
              future. Your benefit is the maximum benefit of your SAP®
              software.
            </p>
            <p>
              In order to achieve this success, we place emphasis on a
              holistic consulting approach. Comprehensive support during
              your SAP® project completes the HR Focal Point Consulting
              service package:
            </p>
            <ul class="additional-services">
              <li><p>Problem analysis</p></li>
              <li><p>Requirements analysis</p></li>
              <li><p>Technical and technical solution concept</p></li>
              <li><p>Implementation</p></li>
              <li>
                <p>
                  Go-live support &amp; introduction of SAP SE solutions
                </p>
              </li>
              <li>
                <p>
                  Support after going live and further development of
                  SAP SE solutions
                </p>
              </li>
              <li><p>Implementation of migration projects</p></li>
              <li><p>Connection of interfaces</p></li>
              <li>
                <p>
                  <strong>Trainings</strong>
                  &amp; coaching of your employees
                </p>
              </li>
              <li>
                <p>
                  Support your
                  <a href="{% url 'main:service4' %}" title="Business Management"
                    >project management</a
                  >
                </p>
              </li>
            </ul>

            <h2>You have high demands on us. We also.</h2>
            <p>
              If you feel optimally cared of with HR Focal Point
              Consulting after implementation and adaption of your SAP
              software and you are satisfied from the beginning to the
              completion of your IT project, then we are proud to have
              supported you as a partner very well.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

