@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.lead {
  font-size: 1.1rem !important;
  color: #212529 !important;
  font-weight: 400 !important;
}

.title-sm {
  font-size: 1.3rem;
}

.title-lg {
  font-weight: 600;
  font-size: 1.6rem;
}
