<header class="main-header">
  <nav class="main-nav">
    <a href="{% url 'main:home' %}"
      ><h2 class="logo">
        Swiss Payroll+ <span class="logo-line">|</span>
        <span class="logo-white">HR Processes</span>
      </h2>
    </a>
    <ul class="nav-links">
      <li class="menu-trigger dropdown-link">
        <a href="#" id="expertise-menu">
          <span>Expertise</span>
          <i class="fa fa-chevron-down dd-arrow" aria-hidden="true"></i>
        </a>
        <ul class="dropdown">
          <li>
            <a href="{% url 'main:service1' %}">Implementation Consulting</a>
          </li>
          <li><a href="{% url 'main:service2' %}">SAP Services Consulting</a></li>
          <li><a href="{% url 'main:service3' %}">Process Consulting</a></li>
          <li><a href="{% url 'main:service4' %}">Project Management</a></li>
          <li><a href="{% url 'main:service5' %}">Development</a></li>
          <li><a href="{% url 'main:service6' %}">Support</a></li>
        </ul>
      </li>
      <li><a href="customers.html">Customer Cases</a></li>
      <a href="{% url 'main:contact' %}" class="btn btn-sm">Contact Us</a>
    </ul>
  </nav>
</header>
